/* Color Variables */

/* Plan Options */

#plans-link {
    text-decoration: underline;
}

.plan {
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    width: 500px;
}

.plan h2 {
    text-decoration: underline;
}

.plan p {
    width: 90%;
    margin: auto auto 10px auto;
}


/* Buttons */

#plans-buttons {
    display: flex;
    justify-content: center;
    gap: 60px;
}

#plans-buttons button {
    flex: 1;
    max-width: 100px;
}

/* Larger Resolutions */

@media (min-width: 900px) {
    #plan-options {
        display: flex;
        max-width: 80%;
        margin: auto;
        gap: 20px;
    }

    .plan {
        flex: 1;
    }
}