/* Color Variables */



/* Structure */

body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-header {
    margin: auto;
    width: 400px;
}

#title-div {
    margin: auto;
    width: fit-content;
    display: flex;
}

#title {
    margin-left: 10px;
}

button {
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 5%;
    font-size: 16px;
    padding: 10px;
}

/* Typography */

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#title {
    font-size: 30px;
}

#nav-list {
    display: flex;
    justify-content: space-evenly;
}

#nav-list a {
    text-decoration: none;
}

#nav-list li {
    list-style-type: none;
    flex: 1;
}

/* Larger Resolutions */

@media (min-width: 750px) {
    #main-header {
        width: 600px;
    }

    #title {
        font-size: 40px;
    }
}