/* Color Variables */
html {
    --primary-page-color: #006D77;
    --secondary-page-color-1: #83C5BE;
    --secondary-page-color-2: #EDF6F9;
    --secondary-page-color-3: #EAD7C3;
}

/* Structure */

body {
    background-color: var(--primary-page-color);
}

.column {
    width: 95%;
    margin: auto;
    height: 80vh;
    text-align: center;
    min-height: 450px;
}

.column h2 {
    position: relative;
    top: 4%;
}

#count-column {
    background-color: var(--secondary-page-color-1);
}

#count {
    position: relative;
    top: 25%;
}

#random-column, #slider-column {
    background-color: var(--secondary-page-color-2);
    
}

#random-img, #slider-img {
    position: relative;
    top: 60px;
}

#slider {
    position: relative;
    margin-top: 20px;
    width: 80%;
    background: #CCCCCC;
    outline: none;
    height: 25px;
    appearance: none;
}

#slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: var(--secondary-page-color-3);
    cursor: pointer;
}

/* Typography */

body {
    font-family: 'Times New Roman', Times, serif;
}

#title {
    color: var(--secondary-page-color-1);
    text-align: center;
}

#subtitle {
    color: var(--secondary-page-color-3);
    text-align: center;
}

.column h2 {
    font-size: 30px;
}

#count-column {
    color: var(--secondary-page-color-2);
}

#count {
    font-size: 90px;
}

#random-column, #slider-column {
    color: var(--secondary-page-color-1);
}

#footer {
    color: var(--secondary-page-color-1);
    text-align: center;
}

/* Larger Resolutions */

@media (min-width: 750px) {
    #columns {
        display: flex; 
        flex-wrap: wrap;
    }

    .column {
        flex: 1;
        margin: 20px;
        width: 30%;
    }

    #random-img {
        width: 80%;
        max-width: 300px;
    }

    #slider-img {
        width: 60%;
        max-width: 200px;
    }
}