/* Color Variables */

html {
    --color-1: #006D77;
    --color-2: #83C5BE;
    --color-3: #EAD7C3;
    --color-4: #FFFFFF;
    --color-5: #000000;
    --color-6: #910505;
}

/* HTML */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--color-1);
    font-family: 'Times New Roman', Times, serif;
}

/* Header */

#main-header {
    margin: auto;
    text-align: center;
    width: 90%;
}

#header-title {
    color: var(--color-2);
}

#header-subtitle {
    color: var(--color-4);
}

/* Main */

#main-content {
    margin: auto;
    background-color: var(--color-3);
    border: 1px solid var(--color-5);
    width: 500px;
}

/* Details Div */

#details-div {
    border-bottom: 1px solid var(--color-5);
    text-align: center;
    color: var(--color-1);
}

/* Images Div */

#images-div {
    border-bottom: 1px solid var(--color-5);
}

.person-img {
    width: 450px;
    display: block;
    margin: 10px auto 10px auto;
    border: 1px solid var(--color-6);
}

/* Credit Div */

#credit {
    color: var(--color-2);
    margin: 10px auto 10px 10px;
}

#credit-link {
    color: var(--color-1);
}

#credit-link:hover {
    color: var(--color-5);
}

/* Footer */

#main-footer {
    margin: auto;
    width: 90%;
}

#copyright {
    color: var(--color-2);
    text-align: center;
}

/* Larger Resolutions */

@media (min-width: 900px) {
    #main-content {
        width: 800px;
    }

    #images-div {
        display: flex;
        flex-wrap: wrap;
    }

    .person-img {
        width: 200px;
    }
}