/* Color Variables */

html {
    --color-1: #006D77;
    --color-2: #83C5BE;
    --color-3: #EAD7C3;
    --color-4: #FFFFFF;
    --color-5: #000000;
    --color-6: #910505;
}

/* HTML */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--color-1);
    font-family: 'Times New Roman', Times, serif;
}

/* Header */

#main-header {
    margin: auto;
    text-align: center;
    width: 90%;
}

#header-title {
    color: var(--color-2);
}

#header-subtitle {
    color: var(--color-4);
}

/* Main Section */

#pizza-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    justify-content: center;
}

.pizza {
    border: 1px solid var(--color-5);
    color: var(--color-5);
    background-color: var(--color-3);
    text-align: center;
    width: 300px;
    margin: auto 10px;
    cursor: pointer;
}

img {
    width: 90%;
    border: 1px solid var(--color-5);
    margin-bottom: 10px;
}

.expandedPizza {
    color: var(--color-5);
    text-align: center;
    cursor: default;
}

.expandedPizza img {
    width: 50%;
}

.expandedPizza li {
    list-style-type: none;
}

/* Footer */

#main-footer {
    margin: auto;
    width: 90%;
}

#credit {
    color: var(--color-2);
    text-align: center;
}

#credit a {
    color: var(--color-4);
    text-decoration: none;
}

#credit a:hover {
    color: var(--color-5);
    text-decoration: underline;
}

#copyright {
    color: var(--color-2);
    text-align: center;
}