/* Structure */

body {
    background-color: #AC8968;
}

#main-header {
    margin: auto;
    margin-bottom: 40px;
    width: 80%;
}

#main-header p {
    width: 60%;
    margin: auto;
}

#assignments-list, #projects-list {
    margin: auto;
    margin-bottom: 60px;
    width: 80%;
}

.assignment, .project {
    padding: 10px;
    margin: 5px;
    background-color: #93785B;
    border-radius: 10px;
    width: 400px;
}

.assignment img, .project img {
    margin: auto;
    display: block;
    width: 300px;
    height: 200px;
    border: 3px solid black;
    padding: 3px;
}

#footer {
    margin: auto;
    width: 80%;
}


/* Typography */

body {
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF;
}

#main-header {
    text-align: center;
}

#assignment-section h2, #project-section h2 {
    text-align: center;
}

#assignment-section a, #project-section a {
    text-decoration: none;
}

.assignment h3, .assignment p, .project h3, .project p {
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}

.assignment:hover, .project:hover {
    text-decoration: underline;

}

#footer {
    text-align: center;
}



/* Larger Resolution */

@media (min-width: 900px) {

    #assignments-list, #projects-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .assignment, .project {
        flex: 1;
    }

}